@page "/contato"


<div class="container py-5">
    <h1 class="display-4 text-center mb-4">Sobre o BinaryCupcake</h1>
    <p class="lead text-center">
        O <strong>BinaryCupcake</strong> é uma aplicação web interativa, construída com Blazor e .NET, oferecendo uma plataforma moderna para pedidos de cupcakes online.
    </p>
    <p class="mt-4">
        Desenvolvido como parte do <strong>Projeto Integrador Transdisciplinar em Ciência da Computação II</strong>, o projeto foca na usabilidade, acessibilidade e integração com tecnologias de ponta para proporcionar uma experiência de compra fluida e intuitiva.
    </p>

    <h3 class="mt-5 text-center">Dúvidas ou sugestões?</h3>
    <p class="text-center">Entre em contato: <a href="mailto:yuri13_yuri@hotmail.com">yuri13_yuri@hotmail.com</a></p>
</div>
