
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-bg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/home" class="navbar-brand ms-auto" style="font-family: 'Roboto'; font-weight: bold; font-size: 1.2rem;">
            BinaryCupcakes <i class="fa-solid fa-cookie-bite"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family:'Roboto'">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Dropdown de usuário à direita -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-family:'Roboto'">
        <!-- Link da marca/carrinho à esquerda -->
        <a class="navbar-brand" href="/carrinho">
            <i class="fa fa-cart-shopping fs-6 text-dark"></i>
            <span class="small text-danger fw-bold">@carrinhoService.CarrinhoContador</span>
        </a>

        <a class="navbar-brand" href="#">
            <AuthorizeView>
                <Authorized>
                    <span class="small ms-auto">@context.User.Identity!.Name</span>
                </Authorized>
            </AuthorizeView>
        </a>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person fs-6"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <AuthorizeView>
                    <!-- Se o usuário está autenticado -->
                    <Authorized>
                        @if (context.User.IsInRole("Admin"))
                        {
                            <li><a class="dropdown-item fs-6" href="/add-produto">Adicionar Produtos</a></li>
                        }
                        <li><a class="dropdown-item fs-6" href="#">Meu Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item fs-6" @onclick="()=> Logout()">Sair</a></li>
                    </Authorized>

                    <!-- Se o usuário não está autenticado -->
                    <NotAuthorized>
                        <li><a class="dropdown-item fs-6" @onclick="()=> NavManager.NavigateTo(login)">Login</a></li>
                        <li><a class="dropdown-item fs-6" @onclick="()=> NavManager.NavigateTo(registrar)">Registrar</a></li>
                    </NotAuthorized>


                </AuthorizeView>
            </ul>
        </li>
    </ul>
</nav>


@code {
    public string login = "/login";
    public string registrar = "/registrar";
    public string logout = "/logout";

    private async Task Logout()
    {
        await js.InvokeVoidAsync("logout");

        NavManager.NavigateTo("/", forceLoad: true);
    }
}
