<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" />
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>

